@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;

    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
    
    .eu {
        height: 200px;
    }

    .meu-nome {
        font-size: 20PX;
    }

    .inicio {
        display: block;
        height: 400px;
        width: 635px;

    }

    .dinamico {
        font-size: 20px;
    }

    .estatico {
        font-size: 20PX;
    }

    .minha-foto {
        height: 300px;
    }

    .texto {
        font-size: 20px;
    }

    .sobre-mim {
        height: 950px;
    }

    .servico {
        height: 400px;
    }

    .pro {
        font-size: 25px;
    }

    .trabalho {
        font-size: 20px;
    }

    .fotos {
        height: 100px;
    }

    .formacao {
        display: block;
    }

    .concluido {
        font-size: 25px;
    }
    
    .paixao {
        font-size: 20px;
    }
}